* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading {
    margin: 1rem 1.5rem;
    color: #B033B2;
    font-family: nunito;
    padding: 1rem;
}

.row {
    margin: 1.5rem;
    display: flex;
}

.column {
    flex: 50%;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#demo {
    width: 50%;
    padding: 20px;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    border-radius: 1.5rem;
    padding: 20px;
    font-family: montserrat;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#modal-input {
    background-color: #f8e7fc;
    width: 100%;
    border-radius: 1rem;
    border: 2px solid #761678;
    padding: 1rem;
}

#modal-button {
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    font-size: 20px;
    background-color: #761678;
    color: white;
    border: 2px solid #761678
}

#img2 {
    max-width: 50%;
    position: relative;
    left: 10rem;
    margin: 2rem;
}

.post {
    background-color: #F8E7FC;
    color: #B033B2;
    margin-top: 30px;
    padding: 30px;
    border-radius: 20px;
    font-family: montserrat;
}

.post:hover {
    cursor: pointer;
}

.form {
    padding: 30px;
    /* height: 100vh; */
    font-family: montserrat;
    position: sticky;
    top: 20px;
}

.float {
    display: none;
}

.descrip {
    background-color: #FEE5FF;
    border: 5px solid #B033B2;
    border-radius: 20px;
    padding: 10px;
    font-family: montserrat;
    font-size: 1.5rem;
    width: 100%;
    /* min-width: 80%; */
    height: 30vmax;
}

.meta {
    color: grey;
    font-style: italic;
    font-size: 15px;
    margin: 10px 0px;
}

#postbutton {
    margin: 10px 0px;
    padding: 10px;
    width: 100px;
    border-radius: 30px;
    font-size: 20px;
    background-color: white;
    color: #761678;
    border: 2px solid #761678;
}

.postcontent {
    margin: 1rem 0;
}

.commentinp {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    border: none;
}

.sendbtn {
    margin: 10px 0px;
    padding: 10px;
    /* width: rem; */
    border-radius: 50px;
    border: none;
    font-size: px;
    border: 2px solid #761678;
    color: white;
    background-color: #761678;
}

.comments {
    margin: 20px 0px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    /* border: 2px solid #761678; */
    border-radius: 50px;
    font-weight: bold;
    font-size: 15px;
}

.cmtmeta {
    font-size: 13px;
    margin: 0px;
}

.input {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
}

@media only screen and (max-width:1000px) {
    .form {
        display: none;
    }
    .float {
        /* clear: both; */
        display: block;
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: 40px;
        background-color: #761678;
        color: #FFF;
        border-radius: 50px;
        text-align: center;
        box-shadow: 2px 2px 3px #999;
    }
    .my-float {
        font-size: 25px;
        margin-top: 18px;
    }
}

.logo_img {
    width: 6%;
}